.navbar {
    background-color: #333; /* Cor de fundo da barra de navegação */
    padding: 10px; /* Espaçamento interno */
  }
  
  .navbar-brand {
    color: #fff; /* Cor do texto do título */
    font-size: 24px; /* Tamanho da fonte do título */
  }
  
  .navbar-item {
    color: #fff; /* Cor do texto das categorias */
    margin-right: 10px; /* Espaçamento entre as categorias */
    text-decoration: none; /* Remover sublinhado */
  }
  
  .navbar-item:hover {
    text-decoration: underline; /* Adicionar sublinhado ao passar o mouse sobre as categorias */
  }
  